@import "node_modules/bootstrap/scss/bootstrap";
.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    main{
        flex-grow: 1;
    }
}
header{
    a{
        text-decoration: none;
    }
}
.principal{
    display: flex;
    align-items: center;
    height: 100%;
    background-image: url("https://wallpaperaccess.com/full/2283525.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    .banner{
        background-color: rgba(0, 0, 0, 0.473);
    }
}